# docker-compose.yml
version: "3.8"
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: it-tools-by-alex-prod
    environment:
      - NODE_ENV=production
    ports:
      - "3010:3000"
    restart: unless-stopped
